ul{
    list-style: none;
    display: flex;
    justify-content: baseline;
}

li{
    margin: 0 10px;
}

li a{
    border-radius: 10px;
    background-color: gainsboro;
    padding: 5px 10px;
    text-decoration: none;
}

.active-link {
    background-color: grey !important;
}